.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    
    background-color: rgb(61, 177, 206);
    font-size: 36px;
    margin-bottom: 20px;
     
}

.form {
    display: flex;
    justify-content:end;
    flex-wrap: wrap;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

input[type="number"], select {
    padding: 10px;
        background:white;
      color: black;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button :hover{
    color: gray;
}

.result {
    background: linear-gradient(to bottom, black,white);

    padding: 20px;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}